*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color:#9DFF00;
    display: flex;
    align-items: center;
    z-index: 10000;
    max-width: 100%;
    position: fixed;
    width: 100%;
}
.logo{
    width: 4em;
    height: 4em;
    border-radius: 50px;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

nav{
   
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

.prueba{
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 20px;
}



nav a{
    text-decoration: none;
    color: black;
    margin-right: 3em;
    font-size: 1.7rem;   
    padding: 0.5em 1em; 
    font-weight: bolder;
    
}

.imagen{
    
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.imagen img{
    width: 35em;
    height: 18em;
}

body{
    background-color: #222021;
}



h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 2rem;
    
}

p{
    color: white;
    margin-right: 5em;
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-weight: bolder ;
}

.flexing{
    display: flex;
justify-content: center;
padding-bottom: 8em;
}

